   <div class="container">

    <form class="form-group">
      <h2>user register</h2>
      <input type="text" id="username" class="form-control" placeholder="username" [(ngModel)]="userinfo.username" required [ngModelOptions]="{standalone: true}">
      <input type="password" id="password" class="form-control" placeholder="password" [(ngModel)]="userinfo.password" required [ngModelOptions]="{standalone: true}">
      <input type="text" id="email" class="form-control" placeholder="email" [(ngModel)]="userinfo.email" required [ngModelOptions]="{standalone: true}">
      <input type="text" id="mobilenumber" class="form-control" placeholder="mobilenumber" [(ngModel)]="userinfo.mobilenumber" required [ngModelOptions]="{standalone: true}">

      <select class="form-control" name = "role" id = "role" [(ngModel)]="userinfo.role">
        <option value="" style="display:none;">role</option>
        <option [value]="item" *ngFor="let item of userinfo.roleList">{{item}}</option>
      </select>
      <div class="checkbox">
        <label>
          <a [routerLink]="['/login']" routerLinkActive="router-link-active">login</a>
      </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="registerSubmit()">Register</button>
      {{userinfo|json}}
    </form>

  </div>
