<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="breadcrumb">
				<li>
					 <a href="#">Home/</a>
				</li>
				<li>
					 <a href="#">Library/</a>
				</li>
				<li class="active">
          <a href="#">Data</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<img alt="140x140" src="../../../assets/pic/test.jpg" class="img-thumbnail" />
		</div>
		<div class="col-md-8 column productdetaillist">
        <div class="list-group-item">
          Brand:
        </div>
				<div class="list-group-item">
					Item Name:
        </div>
        <div class="list-group-item">
					Stock Number:
        </div>
        <div class="list-group-item">
					Price:
				</div>
				<div class="list-group-item">
          Tax amount:
        </div>
        <div class="list-group-item">
          Add to cart
				</div>
		</div>
  </div>
  <div class="row clearfix">
		<div class="col-md-12 column list-group-item productdescription">
      <h2>Product description</h2> 

      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
		</div>
	</div>
</div>